---
apiVersion: v1
kind: Service
metadata:
  name: keycloak-postgres-healthz
  namespace: keycloak
spec:
  type: ClusterIP
  ports:
    - name: healthz
      port: 8000
      protocol: TCP
      targetPort: 8000
  selector:
    cnpg.io/cluster: keycloak-postgres
    cnpg.io/instanceRole: primary
