---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: prometheus
  namespace: monitoring
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/instance: kube-prometheus-stack-prometheus
      app.kubernetes.io/name: prometheus
  ingress:
    - fromEndpoints:
        - matchLabels:
            app.kubernetes.io/instance: traefik
            app.kubernetes.io/name: traefik
            io.kubernetes.pod.namespace: traefik
        - matchLabels:
            app.kubernetes.io/name: grafana
            io.kubernetes.pod.namespace: monitoring
      toPorts:
        - ports:
            - port: "9090"
              protocol: TCP
  egress:
    - toEntities:
        - host
      toPorts:
        - ports:
            - port: "6443"   # kube-api
            - port: "9100"   # prometheus node exporter
            - port: "10250"  # kubelet
            - port: "10257"  # kube-controller-manager
            - port: "10259"  # kube-scheduler
    - toServices:
        - k8sServiceSelector:
            selector:
              matchLabels:
                k8s-app: kube-dns
            namespace: monitoring
      toPorts:
        - ports:
            - port: "53"  # dns
              protocol: TCP
            - port: "9153"  # dns metrics
              protocol: TCP
    - toServices:
        - k8sService:
            serviceName: kube-prometheus-stack-alertmanager
            namespace: monitoring
      toPorts:
        - ports:
            - port: "9093"
              protocol: TCP
    - toServices:
        - k8sService:
            serviceName: kube-prometheus-stack-kube-state-metrics
            namespace: monitoring
      toPorts:
        - ports:
            - port: "8080"
              protocol: TCP
    - toServices:
        - k8sService:
            serviceName: kube-prometheus-stack-operator
            namespace: monitoring
      toPorts:
        - ports:
            - port: "10250"  # kubelet
              protocol: TCP
    - toServices:
        - k8sService:
            serviceName: kube-prometheus-stack-grafana
            namespace: monitoring
      toPorts:
        - ports:
            - port: "3000"
              protocol: TCP
    - toServices:
        - k8sService:
            serviceName: ak-outpost-authentik-embedded-outpost
            namespace: authentik
      toPorts:
        - ports:
            - port: "9300"
              protocol: TCP
    - toServices:
        - k8sService:
            serviceName: minio
            namespace: minio
      toPorts:
        - ports:
            - port: "9000"
              protocol: TCP
