apiVersion: v1
kind: Secret
metadata:
    name: gitlab-backup-mirror
    namespace: gitlab
type: Opaque
stringData:
    SOURCE_ACCESSKEY:
    SOURCE_SECRETKEY:
    DESTINATION_ACCESSKEY: ${MINIO_ACCESSKEY}
    DESTINATION_SECRETKEY: ${MINIO_SECRETKEY}
