---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: kubernetes-dashboard-auth
  namespace: kubernetes-dashboard
spec:
  headers:
    customRequestHeaders:
      Authorization: Bearer # kubectl get secrets -n kubernetes-dashboard -ojsonpath='{.items[?(@.metadata.annotations.kubernetes\.io/service-account\.name == "cluster-reader")].data.token}' | base64 -d
