---
apiVersion: v1
kind: Service
metadata:
  name: motus-postgres-healthz
  namespace: motus
spec:
  type: ClusterIP
  ports:
    - name: healthz
      port: 8000
      protocol: TCP
      targetPort: 8000
  selector:
    cnpg.io/cluster: motus-postgres-17
    cnpg.io/instanceRole: primary
