---
apiVersion: v1
kind: Secret
metadata:
    name: gitlab-runner-helm-values
    namespace: gitlab
type: Opaque
stringData:
    values.yaml: |
        runnerRegistrationToken:
---
apiVersion: v1
kind: Secret
metadata:
  name: cleanup-gitlab-runner
  namespace: gitlab
type: Opaque
stringData:
  GITLAB_TOKEN:
