apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-credentials
  namespace: cloudflare
type: Opaque
stringData:
  ZONE_ID:
  AUTH_TOKEN: # https://developers.cloudflare.com/analytics/graphql-api/getting-started/authentication/api-token-auth
