apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-fw-events-fetch-vars
  namespace: cloudflare
type: Opaque
stringData:
  ZONE_ID:
  AUTH_TOKEN: # https://developers.cloudflare.com/analytics/graphql-api/getting-started/authentication/api-token-auth
  HEALTHCHECKS_URL: https://healthchecks.local.${DOMAIN}/ping/<UID>
