---
apiVersion: v1
kind: Secret
metadata:
  name: paperless
  namespace: paperless
type: Opaque
stringData:
  PAPERLESS_SECRET_KEY: # openssl rand -base64 36
  PAPERLESS_ADMIN_USER:
  PAPERLESS_ADMIN_PASSWORD:
  PAPERLESS_ADMIN_MAIL:
