---
apiVersion: v1
kind: ConfigMap
metadata:
  name: merge-subtitles
  namespace: media
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
data:
  merge_subtitles.sh: |
    #!/usr/bin/env bash

    set -o errexit
    set -o pipefail

    cd "${SAB_COMPLETE_DIR}"

    FILENAME=$(find . -type f -name "*.mkv" -and -not -iname "*sample*")

    if [ -z "${FILENAME}" ]; then
        echo "no mkv file found - skipping"
        exit 0
    fi

    SUBS=$(find -type f -name "*.idx" -o -name "*.srt" -o -name "*.sub")

    if [ -z "${SUBS}" ]; then
        echo "no subs found - skipping"
        mv "$SAB_COMPLETE_DIR" /tv/
        exit 0
    fi

    while IFS= read -r SUB; do
        mkvmerge -o ${FILENAME}.merged ${FILENAME} ${SUB}
        rm -f ${FILENAME}
        mv ${FILENAME}.merged ${FILENAME}
    done <<< "${SUBS}"

    mv "$SAB_COMPLETE_DIR" /tv/
    echo "finished merging subtitles"

    exit 0
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sabnzbd-startup
  namespace: media
data:
  startup: |
    #!/usr/bin/env bash

    if ! command -v mkvmerge >/dev/null; then
      echo "mkvmerge not found"
      exit 1
    fi

    if [ ! -f /app/sabnzbd/scripts/merge_subtitles.sh ]; then
      echo "merge_subtitles.sh not found"
      exit 1
    fi

    if [ $(curl --write-out '%{http_code}' --silent --output /dev/null "localhost:8080/api?mode=status&apikey=$(sed --quiet --regexp-extended 's/^api_key\s\=\s(.*)$/\1/p' /config/sabnzbd.ini)") != "200" ]; then
      echo "sabnzbd not ready"
      exit 1
    fi
