---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sabnzbd
  namespace: media
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels: {}
  strategy:
    type: Recreate
  template:
    metadata:
      labels: {}
    spec:
      containers:
        - name: sabnzbd
          image: ghcr.io/linuxserver/sabnzbd:3.6.1-ls79
          env:
            - name: TZ
              value: Europe/Zurich
            - name: PGID
              value: "2000"
            - name: PUID
              value: "2000"
            - name: DOCKER_MODS
              value: containeroo/docker-mods:sabnzbd-nzbnotify|containeroo/docker-mods:sabnzbd-mkvtoolnix
          ports:
            - name: http
              containerPort: 8080
          startupProbe:
            exec:
              command:
                - /usr/bin/env
                - bash
                - -c
                - /app/sabnzbd/startup
            initialDelaySeconds: 30
            failureThreshold: 150
            timeoutSeconds: 10
            periodSeconds: 3
          livenessProbe:
            exec:
              command:
                - /usr/bin/env
                - bash
                - -c
                - >-
                  curl
                  --fail
                  "localhost:8080/api?mode=status&apikey=`sed --quiet --regexp-extended 's/^api_key\s\=\s(.*)$/\1/p' /config/sabnzbd.ini`"
            failureThreshold: 2
            timeoutSeconds: 5
            periodSeconds: 30
          resources: {}
          volumeMounts:
            - name: data
              mountPath: /config
            - name: incomplete-downloads
              mountPath: /incomplete-downloads
            - name: downloads
              mountPath: /downloads
            - name: tv
              mountPath: /tv
            - name: merge-subtitles
              mountPath: /app/sabnzbd/scripts/merge_subtitles.sh
              subPath: merge_subtitles.sh
            - name: startup
              mountPath: /app/sabnzbd/startup
              subPath: startup
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: sabnzbd-data
        - name: incomplete-downloads
          hostPath:
            path: /mnt/sabnzbd/incomplete
            type: Directory
        - name: downloads
          hostPath:
            path: /mnt/sabnzbd/complete
            type: Directory
        - name: tv
          hostPath:
            path: /mnt/sabnzbd/tv
            type: Directory
        - name: merge-subtitles
          configMap:
            name: merge-subtitles
            defaultMode: 0755
        - name: startup
          configMap:
            name: sabnzbd-startup
            items:
              - key: startup.sh
                path: startup
            defaultMode: 0755
