---
apiVersion: v1
kind: Service
metadata:
  name: wiki-postgres-healthz
  namespace: wiki
spec:
  type: ClusterIP
  ports:
    - name: healthz
      port: 8000
      protocol: TCP
      targetPort: 8000
  selector:
    cnpg.io/cluster: wiki-postgres
    cnpg.io/instanceRole: primary
