---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - networkpolicies/
  - helmrelease.yaml
  - httproute.yaml
  - loadbalancer-ipam.yaml
  - secret.yaml
  - securitypolicy.yaml
