---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - networkpolicies
  - podmonitor.yaml
  - prometheusrule.yaml
configMapGenerator:
  - name: grafana-dashboard-flux-cluster
    namespace: flux-system
    files:
      - flux-cluster-dashboard.json=https://raw.githubusercontent.com/fluxcd/flux2/v0.31.5/manifests/monitoring/monitoring-config/dashboards/cluster.json
  - name: grafana-dashboard-flux-control-plane
    namespace: flux-system
    files:
      - flux-control-plane-dashboard.json=https://raw.githubusercontent.com/fluxcd/flux2/v0.31.5//manifests/monitoring/monitoring-config/dashboards/control-plane.json
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
  labels:
    grafana_dashboard: "1"
