---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: keycloak
      app.kubernetes.io/component: keycloak
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: keycloak
        app.kubernetes.io/component: keycloak
    spec:
      serviceAccountName: keycloak
      securityContext:
        fsGroup: 1000
      restartPolicy: Always
      initContainers:
        - name: never
          image: ghcr.io/containeroo/never:v0.8.9
          args:
            - --http.keycloak.address=https://keycloak-postgres-healthz:8000/healthz
            - --http.keycloak.skip-tls-verify=true
          resources:
            requests:
              cpu: 10m
              memory: 16Mi
            limits:
              cpu: 10m
              memory: 16Mi
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:26.5.2
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
          args:
            - start
          envFrom:
            - secretRef:
                name: keycloak
          env:
            - name: KC_HOSTNAME
              value: sso.${BASE_DOMAIN}
            - name: KC_PROXY_HEADERS
              value: xforwarded
            - name: KC_HTTP_ENABLED
              value: "true"
            - name: KC_METRICS_ENABLED
              value: "true"
            - name: KC_HEALTH_ENABLED
              value: "true"
            - name: TZ
              value: Europe/Zurich
            - name: JAVA_OPTS_APPEND
              value: -Djgroups.dns.query=keycloak-headless
            - name: KC_DB
              value: postgres
            - name: KC_DB_URL
              valueFrom:
                secretKeyRef:
                  name: keycloak-postgres-app
                  key: jdbc-uri
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: https
              containerPort: 8443
              protocol: TCP
            - name: health
              containerPort: 9000
              protocol: TCP
          startupProbe:
            httpGet:
              path: /health/started
              port: health
            initialDelaySeconds: 7
            timeoutSeconds: 1
            failureThreshold: 60
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health/live
              port: health
            initialDelaySeconds: 0
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /health/ready
              port: health
            initialDelaySeconds: 10
            timeoutSeconds: 1
          resources: {}
          volumeMounts:
            - name: keycloak-providers
              mountPath: /opt/keycloak/providers
      volumes:
        - name: keycloak-providers
          persistentVolumeClaim:
            claimName: keycloak-providers
