---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus-pushgateway
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: prometheus-pushgateway
      version: 1.20.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 5m
  values:
    extraVars:
      - name: TZ
        value: Europe/Zurich
    ingress:
      enabled: true
      className: traefik
      pathType: Prefix
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: traefik-allow-lan-only@kubernetescrd,traefik-forward-auth@kubernetescrd
        cf.containeroo.ch/ignore: "true"
      hosts:
        - pushgateway.local.${BASE_DOMAIN}
    serviceMonitor:
      enabled: true
      namespace: monitoring
