---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: healthchecks
  namespace: healthchecks
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: healthchecks
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: healthchecks
    spec:
      containers:
        - name: healthchecks
          image: ghcr.io/linuxserver/healthchecks:4.0.20260202
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: Europe/Zurich
            - name: PGID
              value: "2000"
            - name: PUID
              value: "2000"
            - name: SITE_NAME
              value: Healthchecks
            - name: SITE_ROOT
              value: https://healthchecks.${BASE_DOMAIN}
            - name: DEBUG
              value: "False"
            - name: REGISTRATION_OPEN
              value: "False"
            - name: REGENERATE_SETTINGS
              value: "True"
            - name: REMOTE_USER_HEADER
              value: HTTP_X_AUTH_REQUEST_EMAIL
            - name: SITE_LOGO_URL
              value: /static/img/logo.svg
            - name: DOCKER_MODS
              value: linuxserver/mods:universal-cron
            - name: HAS_IPV6
              value: "false"
            - name: ALLOWED_HOSTS
              value: "*"
          envFrom:
            - secretRef:
                name: healthchecks-prunes-healthchecks-url
            - secretRef:
                name: healthchecks-settings
            - secretRef:
                name: healthchecks-mail-settings
          ports:
            - name: http
              containerPort: 8000
          startupProbe:
            exec:
              command:
                - /usr/bin/env
                - bash
                - -c
                - /scripts/startup
            initialDelaySeconds: 30
            failureThreshold: 90
            timeoutSeconds: 5
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /api/v1/status/
              port: http
            initialDelaySeconds: 30
            failureThreshold: 5
            periodSeconds: 30
          lifecycle:
            postStart:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - crond
          resources: {}
          volumeMounts:
            - name: healthchecks-data
              mountPath: /config
            - name: logo
              mountPath: /app/healthchecks/static-collected/img/logo.svg
              subPath: logo.svg
              readOnly: true
            - name: prunes
              mountPath: /etc/periodic/weekly/prunes
              subPath: prunes
            - name: startup
              mountPath: /scripts/startup
              subPath: startup
            - name: modcache
              mountPath: /modcache
            - name: healthchecks-uwsgi-config
              mountPath: /etc/s6-overlay/s6-rc.d/user/contents.d/init-healthchecks-uwsgi-config
              subPath: init-healthchecks-uwsgi-config
            - name: healthchecks-uwsgi-config
              mountPath: /etc/s6-overlay/s6-rc.d/init-config-end/dependencies.d/init-healthchecks-uwsgi-config
              subPath: init-healthchecks-uwsgi-config
            - name: healthchecks-uwsgi-config
              mountPath: /etc/s6-overlay/s6-rc.d/init-healthchecks-uwsgi-config/run
              subPath: run
            - name: healthchecks-uwsgi-config
              mountPath: /etc/s6-overlay/s6-rc.d/init-healthchecks-uwsgi-config/type
              subPath: type
            - name: healthchecks-uwsgi-config
              mountPath: /etc/s6-overlay/s6-rc.d/init-healthchecks-uwsgi-config/up
              subPath: up
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: healthchecks-data
          persistentVolumeClaim:
            claimName: healthchecks-data
        - name: logo
          configMap:
            name: logo
        - name: prunes
          configMap:
            name: prunes
            items:
              - key: prunes.sh
                path: prunes
            defaultMode: 0755
        - name: startup
          configMap:
            name: startup
            items:
              - key: startup.sh
                path: startup
            defaultMode: 0755
        - name: modcache
          persistentVolumeClaim:
            claimName: healthchecks-modcache
        - name: healthchecks-uwsgi-config
          configMap:
            name: healthchecks-uwsgi-config
            defaultMode: 0755
