---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - networkpolicies/
  - configmap.yaml
  - deployment.yaml
  - httproute.yaml
  - persistentvolumeclaim.yaml
  - schedule.yaml
  - secret.yaml
  - securitypolicy.yaml
  - service.yaml
configMapGenerator:
  - name: logo
    namespace: healthchecks
    files:
      - .img/logo.svg
  - name: prunes
    namespace: healthchecks
    files:
      - scripts/prunes.sh
  - name: startup
    namespace: healthchecks
    files:
      - scripts/startup.sh
generatorOptions:
  disableNameSuffixHash: true
patches:
  - target:
      kind: ConfigMap
      name: logo
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          kustomize.toolkit.fluxcd.io/substitute: disabled
  - target:
      kind: ConfigMap
      name: prunes
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          kustomize.toolkit.fluxcd.io/substitute: disabled
  - target:
      kind: ConfigMap
      name: startup
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          kustomize.toolkit.fluxcd.io/substitute: disabled
