---
apiVersion: v1
kind: Secret
metadata:
  name: authentik-helm-values
  namespace: authentik
type: Opaque
stringData:
  values.yaml: |
    authentik:
      secret_key: # openssl rand -base64 36
      email:
        username:
        password:
        from:
      postgresql:
        password:  # same as below
    postgresql:
      postgresqlPassword:  # same as above
