---
apiVersion: v1
kind: Secret
metadata:
  name: paperless-helm-values
  namespace: paperless
type: Opaque
stringData:
  values.yaml: |
    env:
      PAPERLESS_SECRET_KEY: # openssl rand -base64 36
