---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - networkpolicies/
  - certificate.yaml
  - clusterissuer.yaml
  - helmrelease.yaml
  - prometheusrule.yaml
  - secret.yaml
configMapGenerator:
  - name: grafana-dashboard-cert-manager-dashboard
    namespace: cert-manager
    files:
      - cert-manager-dashboard.json=https://raw.githubusercontent.com/observability-mixins/website/refs/heads/master/assets/cert-manager/dashboards/cert-manager-overview.json
generatorOptions:
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
  disableNameSuffixHash: true
  labels:
    grafana_dashboard: "1"
