---
apiVersion: v1
kind: Secret
metadata:
    name: cloudflare-api-token
    namespace: cert-manager
type: Opaque
stringData:
    api-token: # https://cert-manager.io/docs/configuration/acme/dns01/cloudflare/

# vi: ft=yaml
