---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud
  namespace: nextcloud
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: nextcloud
      app.kubernetes.io/component: fpm-nginx
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: nextcloud
        app.kubernetes.io/component: fpm-nginx
    spec:
      initContainers:
        - name: never
          image: ghcr.io/containeroo/never:v0.8.7
          args:
            - --tcp.valkey.address=valkey.nextcloud.svc.cluster.local:6379
            - --http.postgres.address=https://nextcloud-postgres-17-healthz:8000/healthz
            - --http.postgres.skip-tls-verify=true
          resources:
            requests:
              cpu: 10m
              memory: 16Mi
            limits:
              cpu: 10m
              memory: 16Mi
      containers:
        - name: nginx
          image: ghcr.io/nginxinc/nginx-unprivileged:1.27.4
          ports:
            - name: http
              containerPort: 8080
          resources: {}
          startupProbe:
            httpGet:
              path: /status.php
              port: http
              httpHeaders:
                - name: Host
                  value: cloud.${BASE_DOMAIN}
            initialDelaySeconds: 10
            failureThreshold: 60
            timeoutSeconds: 3
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /status.php
              port: http
              httpHeaders:
                - name: Host
                  value: cloud.${BASE_DOMAIN}
            failureThreshold: 2
            timeoutSeconds: 3
            periodSeconds: 30
          volumeMounts:
            - mountPath: /etc/nginx/nginx.conf
              name: nginx-config
              subPath: nginx.conf
              readOnly: true
            - mountPath: /var/www/html
              name: app-data
              readOnly: true
            - mountPath: /var/www/html/data
              name: user-data
              readOnly: true
        - name: nextcloud
          image: nextcloud:32.0.2-fpm-alpine
          env:
            - name: POSTGRES_HOST
              value: nextcloud-postgres-17-rw.nextcloud.svc.cluster.local
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: nextcloud-postgres-17-app
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud-postgres-17-app
                  key: password
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: nextcloud-postgres-17-app
                  key: dbname
            - name: NEXTCLOUD_TRUSTED_DOMAINS
              value: cloud.${BASE_DOMAIN}
            - name: TRUSTED_PROXIES
              value: ${POD_NETWORK_RANGE_V4}
            - name: OVERWRITEPROTOCOL
              value: https
            - name: REDIS_HOST
              value: valkey.nextcloud.svc.cluster.local
            - name: TZ
              value: Europe/Zurich
            - name: DEFAULT_PHONE_REGION
              value: CH
          envFrom:
            - secretRef:
                name: nextcloud-mail-settings
          lifecycle:
            postStart:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - crond
          resources: {}
          volumeMounts:
            - name: app-data
              mountPath: /var/www/html
            - name: user-data
              mountPath: /var/www/html/data
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: app-data
          persistentVolumeClaim:
            claimName: nextcloud-app-data
        - name: user-data
          persistentVolumeClaim:
            claimName: nextcloud-user-data
        - name: nginx-config
          configMap:
            name: nextcloud-nginx-config
