---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - networkpolicies
  - configmap.yaml
  - deployment.yaml
  - dnsrecord.yaml
  - envoypatchpolicy.yaml
  - httproute.yaml
  - persistentvolumeclaim.yaml
  - secret.yaml
  - service.yaml
labels:
  - includeSelectors: true
    pairs:
      app: nextcloud
      component: fpm-nginx
