---
apiVersion: v1
kind: Service
metadata:
  name: motus
  namespace: motus
spec:
  ports:
    - name: http
      port: 8080
      targetPort: http
  type: ClusterIP
  selector:
    app.kubernetes.io/name: motus
    app.kubernetes.io/component: motus
