---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: nextcloud
spec:
  ports:
    - name: postgres
      port: 5432
      targetPort: postgres
  selector:
    app: nextcloud
    component: postgres
  type: ClusterIP
