apiVersion: v1
kind: Secret
metadata:
    name: kube-prometheus-stack-helm-values
    namespace: monitoring
type: Opaque
stringData:
    values.yaml: |
      grafana:
        grafana.ini:
          auth.generic_oauth:
            client_id:
            client_secret:
