---
apiVersion: v1
kind: Secret
metadata:
  name: firefly
  namespace: firefly
type: Opaque
stringData:
  APP_KEY: # openssl rand -base64 32
---
apiVersion: v1
kind: Secret
metadata:
  name: firefly-cron
  namespace: firefly
type: Opaque
stringData:
  FIREFLY_TOKEN:
