---
apiVersion: v1
kind: Service
metadata:
  name: vimbin
  namespace: vimbin
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
  selector:
    app.kubernetes.io/name: vimbin
