apiVersion: v1
kind: Secret
metadata:
    name: gitlab-backup-mirror
    namespace: gitlab
type: Opaque
stringData:
    DESTINATION_ACCESSKEY: ${MINIO_ROOT_USER}
    DESTINATION_SECRETKEY: ${MINIO_ROOT_PASSWORD}
