---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus--smartctl-exporter
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: prometheus-smartctl-exporter
      version: 0.3.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 5m
  values:
    fullnameOverride: prometheus-smartctl-exporter
    serviceMonitor:
      enabled: true
    prometheusRules:
      enabled: false
