---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - networkpolicies
  - account.yaml
  - dnsrecord.yaml
  - helmrelease.yaml
  - ip.yaml
  - secret.yaml
  - zone.yaml
configMapGenerator:
  - files:
      - grafana-dashboard-cloudflare-operator.json=https://raw.githubusercontent.com/containeroo/cloudflare-operator/v1.8.0/config/manifests/grafana/dashboards/overview.json
    name: grafana-dashboard-cloudflare-operator
    namespace: monitoring
generatorOptions:
  disableNameSuffixHash: true
patches:
  - patch: |-
      - op: add
        path: "/metadata/labels"
        value:
          grafana_dashboard: "1"
      - op: add
        path: "/metadata/annotations"
        value:
          kustomize.toolkit.fluxcd.io/substitute: disabled
    target:
      kind: ConfigMap
      name: grafana-dashboard-cloudflare-operator
