---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: filebrowser
  namespace: filebrowser
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: filebrowser
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: filebrowser
    spec:
      containers:
        - name: filebrowser
          image: filebrowser/filebrowser:v2.57.0
          env:
            - name: TZ
              value: Europe/Zurich
            - name: FB_DATABASE
              value: /db/database.db
            - name: FB_ADDRESS
              value: 0.0.0.0
          ports:
            - name: http
              containerPort: 8080
          startupProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            failureThreshold: 30
            timeoutSeconds: 3
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /health
              port: http
            failureThreshold: 2
            timeoutSeconds: 3
            periodSeconds: 30
          resources: {}
          volumeMounts:
            - name: data
              mountPath: /data
            - name: db
              mountPath: /db
            - name: settings
              mountPath: /config/settings.json
              subPath: settings.json
            - name: users
              mountPath: /config/.users.json
              subPath: .users.json
            - name: branding
              mountPath: /branding/custom.css
              subPath: custom.css
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data
          hostPath:
            path: /mnt/disk5/appdata/filebrowser-data
            type: Directory
        - name: db
          persistentVolumeClaim:
            claimName: filebrowser-db
        - name: settings
          secret:
            secretName: filebrowser-settings
        - name: users
          secret:
            secretName: users
        - name: branding
          configMap:
            name: custom-themes
            items:
              - key: catppuccin-frappe.css
                path: custom.css
