---
apiVersion: cilium.io/v2
kind: CiliumClusterwideNetworkPolicy
metadata:
  name: k8up-jobs-egress-prometheus-pushgateway
spec:
  description: "allow k8up jobs to send metrics to pushgateway"
  endpointSelector:
    matchLabels:
      io.cilium.k8s.namespace.labels.k8up: backup-enabled
      k8upjob: "true"
  egress:
    - toEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
          rules:
            dns:
              - matchPattern: "*"
    - toServices:
        - k8sService:
            serviceName: prometheus-pushgateway
            namespace: monitoring
      toPorts:
        - ports:
            - port: "9091"
              protocol: TCP
