---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tautulli
  namespace: media
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: tautulli
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: tautulli
    spec:
      containers:
        - name: tautulli
          image: ghcr.io/linuxserver/tautulli:v2.16.1-ls217
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: Europe/Zurich
            - name: PGID
              value: "2000"
            - name: PUID
              value: "2000"
            - name: DOCKER_MODS
              value: ghcr.io/themepark-dev/theme.park:tautulli
            - name: TP_THEME
              value: catppuccin-frappe
            - name: TP_COMMUNITY_THEME
              value: "true"
          ports:
            - name: http
              containerPort: 8181
          startupProbe:
            httpGet:
              path: /status
              port: http
            initialDelaySeconds: 20
            failureThreshold: 30
            timeoutSeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /status
              port: http
            initialDelaySeconds: 20
            failureThreshold: 5
            timeoutSeconds: 3
            periodSeconds: 30
          resources: {}
          volumeMounts:
            - name: data
              mountPath: /config
            - name: backup
              mountPath: /config/backups
            - name: modcache
              mountPath: /modcache
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: tautulli-data
        - name: backup
          persistentVolumeClaim:
            claimName: tautulli-backup
        - name: modcache
          persistentVolumeClaim:
            claimName: tautulli-modcache
