apiVersion: v1
kind: Secret
metadata:
    name: cluster-secrets
    namespace: flux-system
type: Opaque
stringData:
    BASE_DOMAIN:
    MINIO_ACCESSKEY:
    MINIO_SECRETKEY:
    KUBERNETES_DASHBOARD_TOKEN:
