---
apiVersion: v1
kind: Secret
metadata:
    name: cluster-secrets
    namespace: flux-system
type: Opaque
stringData:
    BASE_DOMAIN:
    MINIO_ACCESSKEY:
    MINIO_SECRETKEY:
    EMAIL:
    SMTP_DOMAIN:
    USENET_PROVIDER_DOMAIN: news.newshosting.com
    USENET_INDEXER_DOMAIN: newz-complex.org
    NEWSNAB_REGEX: apirequests=\"NUMBER\"
    NEWSNAB_DOMAIN: example.com/www/api?t=user&username=<USERNAME>&apikey=<APIKEY>
