---
apiVersion: v1
kind: Secret
metadata:
    name: cluster-secrets
    namespace: flux-system
type: Opaque
stringData:
    BASE_DOMAIN:
    MINIO_ROOT_USER:
    MINIO_ROOT_PASSWORD:
    RESTIC_PASSWORD:
    EMAIL:
    SMTP_DOMAIN:
    USENET_PROVIDER_DOMAIN:
    USENET_INDEXER_DOMAIN:
    NEWSNAB_REGEX: apirequests=\"NUMBER\"
    NEWSNAB_DOMAIN: example.com/www/api?t=user&username=<USERNAME>&apikey=<APIKEY>
