apiVersion: v1
kind: Secret
metadata:
    name: botkube-helm-values
    namespace: botkube
type: Opaque
stringData:
    values.yaml: |
        communications:
          slack:
            token: # https://slack.com/oauth/authorize?scope=commands,bot&client_id=12637824912.515475697794
