---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: plex
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: plex
    spec:
      securityContext:
        supplementalGroups:
          - 44
          - 103
          - 109
      containers:
        - name: plex
          image: ghcr.io/linuxserver/plex:1.42.2.10156-f737b826c-ls289
          env:
            - name: TZ
              value: Europe/Zurich
            - name: PGID
              value: "2000"
            - name: PUID
              value: "2000"
            - name: VERSION
              value: latest
            - name: DOCKER_MODS
              value: ghcr.io/themepark-dev/theme.park:plex
            - name: TP_THEME
              value: catppuccin-frappe
            - name: TP_COMMUNITY_THEME
              value: "true"
          ports:
            - name: http
              containerPort: 32400
          startupProbe:
            httpGet:
              path: /identity
              port: http
            initialDelaySeconds: 15
            failureThreshold: 60
            timeoutSeconds: 3
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /identity
              port: http
            failureThreshold: 2
            timeoutSeconds: 3
            periodSeconds: 30
          resources:
            requests:
              gpu.intel.com/i915: 1
            limits:
              gpu.intel.com/i915: 1
          volumeMounts:
            - name: data
              mountPath: /config
            - name: backup
              mountPath: /backup
            - name: transcode
              mountPath: /transcode
            - name: media
              mountPath: /media
            - name: modcache
              mountPath: /modcache
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: plex-data
        - name: backup
          persistentVolumeClaim:
            claimName: plex-backup
        - name: transcode
          emptyDir:
            medium: Memory
        - name: media
          hostPath:
            path: /mnt/storage
            type: Directory
        - name: modcache
          persistentVolumeClaim:
            claimName: plex-modcache
