---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: media
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: radarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: radarr
    spec:
      initContainers:
        - name: configarr
          image: ghcr.io/gi8lino/configarr:0.0.6
          args:
            - --debug
          env:
            - name: CONFIGARR__LAUNCHBROWSER
              value: "False"
            - name: CONFIGARR__AUTHENTICATIONMETHOD
              value: External
          volumeMounts:
            - name: data
              mountPath: /config
      containers:
        - name: radarr
          image: ghcr.io/linuxserver/radarr:6.0.4.10291-ls294
          env:
            - name: TZ
              value: Europe/Zurich
            - name: PGID
              value: "2000"
            - name: PUID
              value: "2000"
            - name: DOCKER_MODS
              value: ghcr.io/themepark-dev/theme.park:radarr
            - name: TP_THEME
              value: catppuccin-frappe
            - name: TP_COMMUNITY_THEME
              value: "true"
          ports:
            - name: http
              containerPort: 7878
          startupProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 5
            failureThreshold: 30
            timeoutSeconds: 3
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            failureThreshold: 2
            timeoutSeconds: 3
            periodSeconds: 30
          resources: {}
          volumeMounts:
            - name: data
              mountPath: /config
            - name: backup
              mountPath: /backups
            - name: movies
              mountPath: /movies
            - name: downloads
              mountPath: /downloads
            - name: modcache
              mountPath: /modcache
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: radarr-data
        - name: backup
          persistentVolumeClaim:
            claimName: radarr-backup
        - name: movies
          hostPath:
            path: /mnt/storage/filme
            type: Directory
        - name: downloads
          hostPath:
            path: /mnt/sabnzbd/complete
            type: Directory
        - name: modcache
          persistentVolumeClaim:
            claimName: radarr-modcache
