---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus-blackbox-exporter
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: prometheus-blackbox-exporter
      version: 5.3.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 5m
  values:
    pod:
      labels:
        app: prometheus-blackbox-exporter
    serviceMonitor:
      enabled: true
      defaults:
        interval: 5m
        scrapeTimeout: 30s
        follow_redirects: false
      targets:
        - name: ${BASE_DOMAIN}
          url: https://auth.${BASE_DOMAIN}
        - name: pihole
          url: https://pihole.local.${BASE_DOMAIN}
        - name: tools
          url: https://traefik.tools.${BASE_DOMAIN}
        - name: diskstation
          url: https://ds.local.${BASE_DOMAIN}
    prometheusRule:
      enabled: true
      rules:
        - alert: SSLCertExpiringSoon
          expr: probe_ssl_earliest_cert_expiry - time() < 86400 * 30
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: "The certificate for {{ \"{{ $labels.instance }}\" }} expires within the next 30 days"
            description: "SSL certificate will expire in {{ \"{{ $value | humanizeDuration }}\" }} (instance {{ \"{{ $labels.instance }}\" }})"
