apiVersion: v1
kind: Secret
metadata:
  name: blackbox-exporter-helm-values
  namespace: monitoring
type: Opaque
stringData:
  NEWSNAB_REGEX: apirequests=\"NUMBER\"
  NEWSNAB_DOMAIN: example.com/www/api?t=user&username=<USERNAME>&apikey=<APIKEY>
