apiVersion: v1
kind: Secret
metadata:
  name: prometheus-blackbox-exporter-helm-values-targets
  namespace: monitoring
type: Opaque
stringData:
   values.yaml: |
    serviceMonitor:
      targets:
        - name: <TARGET_NAME>
          url: <URL>
          interval: 6h
          fail_if_body_not_matches_regexp: <REGEX>
