---
apiVersion: v1
kind: Secret
metadata:
  name: falco-helm-values
  namespace: falco
type: Opaque
stringData:
  values.yaml: |
    falcosidekick:
      config:
        slack:
          webhookurl:

# vi: ft=yaml
