---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: media
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: prowlarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: prowlarr
    spec:
      initContainers:
        - name: configarr
          image: ghcr.io/gi8lino/configarr:0.0.6
          args:
            - --debug
          env:
            - name: CONFIGARR__LAUNCHBROWSER
              value: LaunchBrowser=False
            - name: CONFIGARR__AUTHENTICATIONMETHOD
              value: AuthenticationMethod=External
          volumeMounts:
            - name: data
              mountPath: /config
      containers:
        - name: prowlarr
          image: ghcr.io/linuxserver/prowlarr:2.3.0.5236-ls134
          env:
            - name: PGID
              value: "2000"
            - name: PUID
              value: "2000"
            - name: TZ
              value: Europe/Zurich
            - name: DOCKER_MODS
              value: ghcr.io/themepark-dev/theme.park:prowlarr
            - name: TP_THEME
              value: catppuccin-frappe
            - name: TP_COMMUNITY_THEME
              value: "true"
          ports:
            - name: http
              containerPort: 9696
          startupProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 5
            failureThreshold: 30
            timeoutSeconds: 3
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            failureThreshold: 2
            timeoutSeconds: 3
            periodSeconds: 30
          resources:
            requests:
              memory: 100Mi
              cpu: 10m
            limits:
              memory: 250Mi
              cpu: 200m
          volumeMounts:
            - name: data
              mountPath: /config
            - name: backup
              mountPath: /config/Backups
            - name: modcache
              mountPath: /modcache
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: prowlarr-data
        - name: backup
          persistentVolumeClaim:
            claimName: prowlarr-backup
        - name: modcache
          persistentVolumeClaim:
            claimName: prowlarr-modcache
