---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wiki
  namespace: wiki
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: wiki
      app.kubernetes.io/component: wiki
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: wiki
        app.kubernetes.io/component: wiki
    spec:
      initContainers:
        - name: never
          image: ghcr.io/containeroo/never:v0.8.7
          args:
            - --http.postgres.address=https://wiki-postgres-healthz:8000/healthz
            - --http.postgres.skip-tls-verify=true
          resources:
            requests:
              cpu: 10m
              memory: 16Mi
            limits:
              cpu: 10m
              memory: 16Mi
      containers:
        - name: wiki
          image: requarks/wiki:2.5.311
          env:
            - name: DB_TYPE
              value: postgres
            - name: DB_HOST
              value: wiki-postgres-17-rw.wiki.svc.cluster.local
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: wiki-postgres-17-app
                  key: dbname
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: wiki-postgres-17-app
                  key: username
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: wiki-postgres-17-app
                  key: password
          ports:
            - name: http
              containerPort: 3000
          startupProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            failureThreshold: 90
            timeoutSeconds: 3
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 2
            timeoutSeconds: 3
            periodSeconds: 30
          resources: {}
      restartPolicy: Always
      automountServiceAccountToken: false
