---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wiki
  namespace: wiki
spec:
  replicas: 1
  selector:
    matchLabels: {}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels: {}
    spec:
      initContainers:
        - name: wait-for-database
          image: ghcr.io/containeroo/taco:0.0.23
          env:
            - name: TARGET_NAME
              value: PostgreSQL
            - name: TARGET_ADDRESS
              value: wiki-psql-rw.wiki.svc.cluster.local:5432
          resources:
            requests:
              cpu: 10m
              memory: 16Mi
            limits:
              cpu: 10m
              memory: 16Mi
      containers:
        - name: wiki
          image: requarks/wiki:2.5.303
          env:
            - name: DB_TYPE
              value: postgres
            - name: DB_HOST
              value: wiki-psql-rw.wiki.svc.cluster.local
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: wiki-psql-app
                  key: dbname
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: wiki-psql-app
                  key: username
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: wiki-psql-app
                  key: password
          ports:
            - name: http
              containerPort: 3000
          startupProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            failureThreshold: 90
            timeoutSeconds: 3
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 2
            timeoutSeconds: 3
            periodSeconds: 30
          resources: {}
      restartPolicy: Always
      automountServiceAccountToken: false
