apiVersion: v1
kind: Secret
metadata:
    name: forward-auth
    namespace: traefik
type: Opaque
stringData:
    PROVIDERS_OIDC_CLIENT_ID:
    PROVIDERS_OIDC_CLIENT_SECRET:
    SECRET:
---
apiVersion: v1
kind: Secret
metadata:
    name: forward-auth-rules
    namespace: traefik
type: Opaque
stringData:
    rules: |
