---
apiVersion: v1
kind: Secret
metadata:
  name: capacitor-next-helm-values
  namespace: flux-system
type: Opaque
stringData:
  values.yaml: |
    licenseKey: "contact laszlo@gimlet.io"
    session:
      # openssl rand -base64 32
      hashKey: "base64:YOUR_GENERATED_KEY"
      blockKey: "base64:YOUR_GENERATED_KEY"
# vi: ft=yaml
