---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: crds
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster
  interval: 20m
  path: ./cluster/crds
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: cluster
