---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: networkpolicies
  namespace: flux-system
spec:
  dependsOn:
    - name: infra
  interval: 20m
  path: ./cluster/networkpolicies
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
