apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: mealie-mail-settings
    namespace: mealie
stringData:
    SMTP_FROM_NAME:
    SMTP_HOST:
    SMTP_USER:
    SMTP_PASSWORD:
    SMTP_PORT:
    SMTP_AUTH_STRATEGY:
