---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: media
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: sonarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: sonarr
    spec:
      initContainers:
        - name: configarr
          image: ghcr.io/gi8lino/configarr:0.0.6
          args:
            - --debug
          env:
            - name: CONFIGARR__LAUNCHBROWSER
              value: "False"
            - name: CONFIGARR__AUTHENTICATIONMETHOD
              value: External
          volumeMounts:
            - name: data
              mountPath: /config
      containers:
        - name: sonarr
          image: ghcr.io/linuxserver/sonarr:4.0.16.2944-ls303
          env:
            - name: TZ
              value: Europe/Zurich
            - name: PGID
              value: "2000"
            - name: PUID
              value: "2000"
            - name: DOCKER_MODS
              value: ghcr.io/themepark-dev/theme.park:sonarr
            - name: TP_THEME
              value: catppuccin-frappe
            - name: TP_COMMUNITY_THEME
              value: "true"
          ports:
            - name: http
              containerPort: 8989
          startupProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 5
            failureThreshold: 30
            timeoutSeconds: 3
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            failureThreshold: 2
            timeoutSeconds: 3
            periodSeconds: 30
          resources: {}
          volumeMounts:
            - name: data
              mountPath: /config
            - name: backup
              mountPath: /backups
            - name: tv-shows
              mountPath: /tv
            - name: downloads
              mountPath: /downloads
            - name: modcache
              mountPath: /modcache
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: configarr
          configMap:
            name: configarr
            defaultMode: 0755
        - name: data
          persistentVolumeClaim:
            claimName: sonarr-data
        - name: backup
          persistentVolumeClaim:
            claimName: sonarr-backup
        - name: tv-shows
          hostPath:
            path: /mnt/storage/serien
            type: Directory
        - name: downloads
          hostPath:
            path: /mnt/sabnzbd/tv
            type: Directory
        - name: modcache
          persistentVolumeClaim:
            claimName: sonarr-modcache
