---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - networkpolicies
  - deployment.yaml
  - dnsrecord.yaml
  - httproute.yaml
  - persistentvolumeclaim.yaml
  - service.yaml
