---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kthxbye
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: kthxbye
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: kthxbye
    spec:
      containers:
        - name: kthxbye
          image: ghcr.io/prymitive/kthxbye:v0.16
          args:
            - -alertmanager.uri=http://kube-prometheus-stack-alertmanager.monitoring.svc.cluster.local:9093
            - -interval=60s
            - -extend-by=60m
          ports:
            - name: metrics
              containerPort: 8080
          resources:
            requests:
              memory: 50Mi
              cpu: 100m
            limits:
              memory: 150Mi
              cpu: 100m
      restartPolicy: Always
      automountServiceAccountToken: false
