apiVersion: v1
kind: Secret
metadata:
    name: backup-helm-values
    namespace: nfs-subdir-external-provisioner
type: Opaque
stringData:
    values.yaml: |
        nfs:
          server:
          path:
