---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-pushgateway
  namespace: observability
spec:
  interval: 20m
  driftDetection:
    mode: enabled
  dependsOn:
    - name: envoy-gateway
      namespace: network
  chart:
    spec:
      chart: prometheus-pushgateway
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 30m
  values:
    fullnameOverride: pushgateway
    extraVars:
      - name: TZ
        value: Europe/Zurich
    ingress:
      enabled: false
    serviceMonitor:
      enabled: true
      namespace: observability
