---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: envoy-gateway-egress-prometheus-pushgateway
  namespace: network
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: envoy-gateway
      app.kubernetes.io/component: controller
      app.kubernetes.io/instance: envoy-gateway
  egress:
    - toEndpoints:
        - matchLabels:
            app.kubernetes.io/instance: prometheus-pushgateway
            app.kubernetes.io/name: prometheus-pushgateway
            "k8s:io.kubernetes.pod.namespace": monitoring
      toPorts:
        - ports:
            - port: "9091"
              protocol: TCP
