---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: whoami
  namespace: debug
  labels:
    app: whoami
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whoami
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: whoami
    spec:
      containers:
        - name: whoami
          image: containous/whoami:v1.5.0
          imagePullPolicy: IfNotPresent
          resources: {}
          ports:
            - name: http
              containerPort: 80
      restartPolicy: Always
      automountServiceAccountToken: false
