---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: wiki
spec:
  replicas: 1
  selector:
    matchLabels: {}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        k8up.io/backupcommand: sh -c "pg_dumpall -U $POSTGRES_USER -h 127.0.0.1"
        k8up.io/file-extension: .sql
      labels: {}
    spec:
      containers:
        - name: postgres
          image: postgres:15.0-alpine
          envFrom:
            - secretRef:
                name: postgres
          env:
            - name: TZ
              value: Europe/Zurich
          ports:
            - name: postgres
              containerPort: 5432
          startupProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - exec pg_isready -U "$POSTGRES_USER" --dbname=wikijs -h 127.0.0.1 -p 5432
            initialDelaySeconds: 5
            failureThreshold: 30
            periodSeconds: 2
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - exec pg_isready -U "$POSTGRES_USER" --dbname=wikijs -h 127.0.0.1 -p 5432
            failureThreshold: 2
            timeoutSeconds: 3
            periodSeconds: 30
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 250m
              memory: 128Mi
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: postgres-data
