---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: snapraid
  namespace: snapraid
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: snapraid
  template:
    metadata:
      labels:
        app.kubernetes.io/name: snapraid
    spec:
      containers:
        - name: snapraid
          image: ghcr.io/gi8lino/go-snapraid-web:v0.0.14
          ports:
            - name: http
              containerPort: 8080
          startupProbe:
            tcpSocket:
              port: http
            failureThreshold: 30
            periodSeconds: 3
            timeoutSeconds: 1
          livenessProbe:
            tcpSocket:
              port: http
            failureThreshold: 3
            periodSeconds: 30
            timeoutSeconds: 3
          volumeMounts:
            - name: output
              mountPath: /output
              readOnly: true
      volumes:
        - name: output
          hostPath:
            path: /var/log/go-snapraid
            type: Directory
