---
apiVersion: v1
kind: Secret
metadata:
  name: lore-oidc
  namespace: lore
type: Opaque
stringData:
  LORE__OIDC_ISSUER: https://sso.${BASE_DOMAIN}/realms/hq
  LORE__OIDC_CLIENT_ID:
  LORE__OIDC_CLIENT_SECRET:
  LORE__OIDC_SESSION_SECRET: # generate with `openssl rand -base64 32`
---
apiVersion: v1
kind: Secret
metadata:
    name: lore-config
    namespace: lore
type: Opaque
stringData:
    LORE__ENCRYPTION_KEY: # generate with `openssl rand -base64 32`

# vi: ft=yaml
