apiVersion: v1
kind: Secret
metadata:
  name: lore
  namespace: lore
type: Opaque
stringData:
  LORE__OIDC_ISSUER: https://sso.${BASE_DOMAIN}/realms/hq
  LORE__OIDC_CLIENT_ID:
  LORE__OIDC_CLIENT_SECRET:
  LORE__SESSION_SECRET: # generate with `head -c 32 /dev/urandom | base64`
# vi: ft=yaml
