apiVersion: v1
kind: Secret
metadata:
  name: lore
  namespace: lore
type: Opaque
stringData:
  LORE__OIDC_ISSUER: https://sso.${BASE_DOMAIN}/realms/hq
  LORE__OIDC_CLIENT_ID:
  LORE__OIDC_CLIENT_SECRET:

# vi: ft=yaml
