---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: media
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels: {}
  strategy:
    type: Recreate
  template:
    metadata:
      labels: {}
    spec:
      containers:
        - name: sonarr
          image: ghcr.io/linuxserver/sonarr:3.0.9.1549-ls163
          env:
            - name: TZ
              value: Europe/Zurich
            - name: PGID
              value: "2000"
            - name: PUID
              value: "2000"
          ports:
            - name: http
              containerPort: 8989
          startupProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 5
            failureThreshold: 30
            timeoutSeconds: 3
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            failureThreshold: 2
            timeoutSeconds: 3
            periodSeconds: 30
          resources: {}
          volumeMounts:
            - name: data
              mountPath: /config
            - name: backup
              mountPath: /config/Backups
            - name: tv-shows
              mountPath: /tv
            - name: downloads
              mountPath: /downloads
            - name: init-sonarr-config
              mountPath: /etc/cont-init.d/30-config
              subPath: 30-config
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: sonarr-data
        - name: backup
          persistentVolumeClaim:
            claimName: sonarr-backup
        - name: tv-shows
          hostPath:
            path: /mnt/storage/serien
            type: Directory
        - name: downloads
          hostPath:
            path: /mnt/sabnzbd/tv
            type: Directory
        - name: init-sonarr-config
          configMap:
            name: init-sonarr-config
            items:
              - key: init-sonarr-config.sh
                path: 30-config
            defaultMode: 0755
