---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sabnzbd
  namespace: media
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: sabnzbd
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: sabnzbd
    spec:
      containers:
        - name: sabnzbd
          image: ghcr.io/linuxserver/sabnzbd:4.5.5-ls240
          env:
            - name: TZ
              value: Europe/Zurich
            - name: PGID
              value: "2000"
            - name: PUID
              value: "2000"
            - name: DOCKER_MODS
              value: containeroo/docker-mods:universal-mkvtoolnix|ghcr.io/themepark-dev/theme.park:sabnzbd
            - name: TP_THEME
              value: catppuccin-frappe
            - name: TP_COMMUNITY_THEME
              value: "true"
            - name: HAS_IPV6
              value: "false"
          ports:
            - name: http
              containerPort: 8080
          startupProbe:
            exec:
              command:
                - /usr/bin/env
                - bash
                - -c
                - /app/sabnzbd/startup
            failureThreshold: 150
            timeoutSeconds: 10
            periodSeconds: 2
          livenessProbe:
            exec:
              command:
                - /usr/bin/env
                - bash
                - -c
                - >-
                  curl --fail "localhost:8080/api?mode=version"
            failureThreshold: 2
            timeoutSeconds: 5
            periodSeconds: 30
          resources: {}
          volumeMounts:
            - name: data
              mountPath: /config
            - name: incomplete-downloads
              mountPath: /incomplete-downloads
            - name: downloads
              mountPath: /downloads
            - name: tv
              mountPath: /tv
            - name: merge-subtitles
              mountPath: /opt/sabnzbd/scripts/merge_subtitles.sh
              subPath: merge_subtitles.sh
            - name: startup
              mountPath: /app/sabnzbd/startup
              subPath: startup
            - name: modcache
              mountPath: /modcache
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: sabnzbd-data
        - name: incomplete-downloads
          hostPath:
            path: /mnt/sabnzbd/incomplete
            type: Directory
        - name: downloads
          hostPath:
            path: /mnt/sabnzbd/complete
            type: Directory
        - name: tv
          hostPath:
            path: /mnt/sabnzbd/tv
            type: Directory
        - name: merge-subtitles
          configMap:
            name: merge-subtitles
            defaultMode: 0755
        - name: startup
          configMap:
            name: sabnzbd-startup
            items:
              - key: startup.sh
                path: startup
            defaultMode: 0755
        - name: modcache
          persistentVolumeClaim:
            claimName: sabnzbd-modcache
