---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - networkpolicies/
  - deployment.yaml
  - envoyextensionpolicy.yaml
  - httproute.yaml
  - persistentvolumeclaim.yaml
  - service.yaml
configMapGenerator:
  - files:
      - ./scripts/merge_subtitles.sh
    name: merge-subtitles
    namespace: media
  - files:
      - ./scripts/startup.sh
    name: sabnzbd-startup
    namespace: media
generatorOptions:
  disableNameSuffixHash: true
patches:
  - patch: |-
      - op: add
        path: "/metadata/annotations"
        value:
          kustomize.toolkit.fluxcd.io/substitute: disabled
    target:
      kind: ConfigMap
      name: merge-subtitles
  - patch: |-
      - op: add
        path: "/metadata/annotations"
        value:
          kustomize.toolkit.fluxcd.io/substitute: disabled
    target:
      kind: ConfigMap
      name: sabnzbd-startup
