---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # renovate: datasource=github-releases depName=containeroo/cloudflare-operator
  - https://github.com/containeroo/cloudflare-operator/releases/download/v1.5.1/crds.yaml
