apiVersion: v1
kind: Secret
metadata:
    name: oauth2-proxy-helm-values
    namespace: oauth2-proxy
type: Opaque
stringData:
    values.yaml: |
        config:
          clientID:
          clientSecret:
