---
apiVersion: v1
kind: Secret
metadata:
  name: weave-gitops-helm-values
  namespace: flux-system
type: Opaque
stringData:
  values.yaml: |
    adminUser:
      username: username
      passwordHash: # bcrypt-hash, with gitops cli: gitops get bcrypt-hash
    rbac:
      impersonationResourceNames: ["username"]
