---
apiVersion: v1
kind: Secret
metadata:
  name: traefik-helm-values
  namespace: traefik
type: Opaque
stringData:
  values.yaml: |
    env:
      - name: TZ
        value: Europe/Zurich
    pilot:
      token: <TRAEFIK-PILOT-TOKEN>
