---
apiVersion: v1
kind: Secret
metadata:
    name: alerta-settings
    namespace: alerta
type: Opaque
stringData:
    ADMIN_KEY: <ADMIN-KEY>
    SECRET_KEY: <SECRET-KEY>
    DATABASE_URL: postgres://<USER>:<PASSWORD>@alerta-postgres.alerta.svc.cluster.local:5432/alerta
