---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: valkey
  namespace: nextcloud
spec:
  replicas: 1
  selector:
    matchLabels: {}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels: {}
    spec:
      containers:
        - name: valkey
          image: valkey/valkey:7.2.6-alpine
          env:
            - name: TZ
              value: Europe/Zurich
          ports:
            - name: valkey
              containerPort: 6379
          startupProbe:
            tcpSocket:
              port: valkey
            failureThreshold: 30
            periodSeconds: 2
          livenessProbe:
            tcpSocket:
              port: valkey
            failureThreshold: 2
            timeoutSeconds: 5
            periodSeconds: 30
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 250m
              memory: 64Mi
      restartPolicy: Always
      automountServiceAccountToken: false
