---
apiVersion: v1
kind: Service
metadata:
  name: valkey
  namespace: nextcloud
spec:
  type: ClusterIP
  ports:
    - name: valkey
      port: 6379
      targetPort: valkey
  selector:
    app.kubernetes.io/name: nextcloud
    app.kubernetes.io/component: valkey
