---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # renovate: datasource=github-releases depName=envoyproxy/gateway
  - https://github.com/envoyproxy/gateway/releases/download/v1.6.0/envoy-gateway-crds.yaml
