---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: media
  labels:
    app: radarr
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: radarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: radarr
    spec:
      containers:
        - name: radarr
          image: ghcr.io/linuxserver/radarr:4.2.4.6635-ls153
          env:
            - name: TZ
              value: Europe/Zurich
            - name: PGID
              value: "2000"
            - name: PUID
              value: "2000"
          ports:
            - name: http
              containerPort: 7878
          startupProbe:
            exec:
              command:
                - /usr/bin/env
                - bash
                - -c
                - >-
                  curl
                  --fail
                  localhost:7878/api/v3/system/status?apiKey=`IFS=\> && while read -d \< E C; do if [[ $E = "ApiKey" ]]; then echo $C; fi; done < /config/config.xml`
            initialDelaySeconds: 5
            failureThreshold: 30
            timeoutSeconds: 3
            periodSeconds: 3
          livenessProbe:
            exec:
              command:
                - /usr/bin/env
                - bash
                - -c
                - >-
                  curl
                  --fail
                  localhost:7878/api/v3/system/status?apiKey=`IFS=\> && while read -d \< E C; do if [[ $E = "ApiKey" ]]; then echo $C; fi; done < /config/config.xml`
            failureThreshold: 5
            timeoutSeconds: 3
            periodSeconds: 30
          resources: {}
          volumeMounts:
            - name: data
              mountPath: /config
            - name: backup
              mountPath: /config/Backups
            - name: movies
              mountPath: /movies
            - name: dubbed
              mountPath: /dubbed
            - name: downloads
              mountPath: /downloads
            - name: init-radarr-config
              mountPath: /etc/cont-init.d/30-config
              subPath: 30-config
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: radarr-data
        - name: backup
          persistentVolumeClaim:
            claimName: radarr-backup
        - name: movies
          hostPath:
            path: /mnt/storage/filme
            type: Directory
        - name: dubbed
          hostPath:
            path: /mnt/storage/dubbed
            type: Directory
        - name: downloads
          hostPath:
            path: /mnt/sabnzbd/complete
            type: Directory
        - name: init-radarr-config
          configMap:
            name: init-radarr-config
            items:
              - key: init-radarr-config.sh
                path: 30-config
            defaultMode: 0755
