---
apiVersion: v1
kind: Secret
metadata:
  name: mailbridge-config
  namespace: kumbuka
type: Opaque
stringData:
  MAILBRIDGE__API_TOKEN:
  MAILBRIDGE__SMTP_ADDRESS:
  MAILBRIDGE__SMTP_FROM:
  MAILBRIDGE__SMTP_USERNAME:
  MAILBRIDGE__SMTP_PASSWORD:
  MAILBRIDGE__SMTP_TLS: tls

# vi: ft=yaml
