---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - networkpolicies/
  - podmonitor.yaml
  - prometheusrule.yaml
configMapGenerator:
  - name: grafana-dashboard-flux-cluster
    namespace: flux-system
    files:
      - flux-cluster-dashboard.json=https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
  - name: grafana-dashboard-flux-control-plane
    namespace: flux-system
    files:
      - flux-control-plane-dashboard.json=https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
  - name: grafana-dashboard-flux-logs
    namespace: flux-system
    files:
      - flux-logs-dashboard.json=https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/logs.json
generatorOptions:
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
  disableNameSuffixHash: true
  labels:
    grafana_dashboard: "1"
