---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: nextcloud
spec:
  ports:
    - name: redis
      port: 6379
      targetPort: redis
  selector:
    app: nextcloud
    component: redis
  type: ClusterIP
