apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-mail-password
    namespace: nextcloud
type: Opaque
stringData:
    MAIL_DOMAIN:
    MAIL_FROM_ADDRESS:
    SMTP_AUTHTYPE:
    SMTP_HOST:
    SMTP_NAME:
    SMTP_PASSWORD:
    SMTP_PORT:
    SMTP_SECURE:
