---
apiVersion: v1
kind: Secret
metadata:
  name: db-backup
  namespace: nextcloud
type: Opaque
stringData:
  accessKey:
  secretKey:
---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-postgres-registry
  namespace: gitlab
  labels:
    cnpg.io/reload: "true"
type: kubernetes.io/basic-auth
stringData:
  username: registry
  password:
