---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-smartctl-exporter
  namespace: monitoring
spec:
  interval: 20m
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: prometheus-smartctl-exporter
      version: 0.16.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 30m
  values:
    fullnameOverride: smartctl-exporter
    serviceMonitor:
      enabled: true
    prometheusRules:
      enabled: true
