---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: media
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels: {}
  strategy:
    type: Recreate
  template:
    metadata:
      labels: {}
    spec:
      containers:
        - name: prowlarr
          image: ghcr.io/linuxserver/prowlarr:nightly-0.4.11.2139-ls456
          env:
            - name: PGID
              value: "2000"
            - name: PUID
              value: "2000"
            - name: TZ
              value: Europe/Zurich
          ports:
            - name: http
              containerPort: 9696
          startupProbe:
            httpGet:
              path: /actuator/health/livenessState
              port: http
            initialDelaySeconds: 10
            failureThreshold: 30
            timeoutSeconds: 3
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /actuator/health/livenessState
              port: http
            failureThreshold: 2
            timeoutSeconds: 3
            periodSeconds: 30
          resources:
            requests:
              memory: 100Mi
              cpu: 10m
            limits:
              memory: 250Mi
              cpu: 100m
          volumeMounts:
            - name: data
              mountPath: /config
            - name: backup
              mountPath: /config/Backups
            - name: init-prowlarr-config
              mountPath: /etc/s6-overlay/s6-rc.d/init-prowlarr-config/run
              subPath: run
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: prowlarr-data
        - name: backup
          persistentVolumeClaim:
            claimName: prowlarr-backup
        - name: init-prowlarr-config
          configMap:
            name: init-prowlarr-config
            items:
              - key: init-prowlarr-config.sh
                path: run
            defaultMode: 0755
