---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: traefik
  namespace: traefik
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/instance: traefik
      app.kubernetes.io/name: traefik
  ingress:
    - fromCIDR:
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 108.162.192.0/18
        - 131.0.72.0/22
        - 141.101.64.0/18
        - 162.158.0.0/15
        - 172.64.0.0/13
        - 173.245.48.0/20
        - 188.114.96.0/20
        - 190.93.240.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
      toPorts:
        - ports:
            - port: "8443"
              protocol: TCP
    - fromCIDR:
        - ${LAN_NETWORK_RANGE}
      toPorts:
        - ports:
            - port: "2222" # to access load balancer (git@git.${BASE_DOMAIN}:path/to/repo.git)
              protocol: TCP
            - port: "8000" # traefik http port (for redirect to 8443)
              protocol: TCP
            - port: "8443" # regular ingress port
              protocol: TCP
    - fromEntities:
        - cluster
      toPorts:
        - ports:
            - port: "2222" # to access load balancer (git@git.${BASE_DOMAIN}:path/to/repo.git)
              protocol: TCP
            - port: "8000" # traefik http port (for redirect to 8443)
              protocol: TCP
            - port: "8443" # regular ingress port
              protocol: TCP
  egress:
    - toEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: ANY
          rules:
            dns:
              - matchPattern: "*"
    - toEntities:
        - host
      toPorts:
        - ports:
            - port: "6443" # kube api
              protocol: TCP
    - toFQDNs:
        - matchName: plugin.pilot.traefik.io
        - matchName: instance-info.pilot.traefik.io
        - matchName: github.com
      toPorts:
        - ports:
            - port: "443"
              protocol: TCP
