---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: whoami
  namespace: debug
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whoami
      app.kubernetes.io/name: whoami
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: whoami
        app.kubernetes.io/name: whoami
    spec:
      containers:
        - name: whoami
          image: ghcr.io/traefik/whoami:v1.11.0
          imagePullPolicy: IfNotPresent
          env:
            - name: WHOAMI_PORT_NUMBER
              value: "8080"
          ports:
            - name: http
              containerPort: 8080
          resources: {}
      restartPolicy: Always
      automountServiceAccountToken: false
