---
name: Helm Release Differ

on: # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - master
    paths:
      - "apps/**.yaml"
      - "base/**.yaml"
      - "infra/**.yaml"

env:
  DEFAULT_BRANCH: master

jobs:
  detect-file-changes:
    name: Detect File Changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          list-files: json
          filters: |
            yaml:
              - added|modified: "**/helmrelease.yaml"
    outputs:
      yaml_files: ${{ steps.filter.outputs.yaml_files }}
  helm-release-differ:
    name: Helm Release Differ
    runs-on: ubuntu-latest
    needs: detect-file-changes
    if: ${{ needs.detect-file-changes.outputs.yaml_files != '[]' && needs.detect-file-changes.outputs.yaml_files != '' }}
    strategy:
      matrix:
        file: ${{ fromJSON(needs.detect-file-changes.outputs.yaml_files) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Checkout default branch
        uses: actions/checkout@v3
        with:
          ref: "${{ env.DEFAULT_BRANCH }}"
          path: default
      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          # renovate depName=helm/helm
          version: v3.8.1
      - name: Helm Release Differ
        id: diff
        run: |
          diff=$(.github/scripts/helm-release-differ.sh --source-file "default/${{ matrix.file }}" --target-file "${{ matrix.file }}" --remove-common-labels)
          echo "${diff}"
          diff="${diff//'%'/'%25'}"
          diff="${diff//$'\n'/'%0A'}"
          diff="${diff//$'\r'/'%0D'}"
          echo "::set-output name=diff::$(echo ${diff})"
      - name: Add Pull Request comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: "${{ github.event.pull_request.number }}"
          body: "${{ steps.diff.outputs.diff }}"
