---
name: Helm Release Differ

on: # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - master
    paths:
      - cluster/apps/**.yaml

jobs:
  detect-file-changes:
    name: Detect File Changes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Filter Helm Releases
        uses: dorny/paths-filter@v3
        id: filter
        with:
          list-files: json
          filters: |
            yaml:
              - added|modified: "cluster/apps/**/helmrelease.yaml"
    outputs:
      yaml_files: ${{ steps.filter.outputs.yaml_files }}

  helm-release-differ:
    name: Helm Release Differ
    runs-on: ubuntu-latest
    needs: detect-file-changes
    strategy:
      matrix:
        file: ${{ fromJSON(needs.detect-file-changes.outputs.yaml_files) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Checkout default branch
        uses: actions/checkout@v6
        with:
          ref: master
          path: default

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          # renovate depName=helm/helm
          version: v4.0.2

      - name: Helm Release Differ
        id: diff
        run: |
          diff=$(.github/scripts/helm-release-differ.sh --source-file "default/${{ matrix.file }}" --target-file "${{ matrix.file }}" --remove-common-labels)
          echo "${diff}"
          diff="${diff//'%'/'%25'}"
          diff="${diff//$'\n'/'%0A'}"
          diff="${diff//$'\r'/'%0D'}"
          echo "::set-output name=diff::$(echo ${diff})"

      - name: Find Comment
        uses: peter-evans/find-comment@v4
        id: find-comment
        with:
          issue-number: "${{ github.event.pull_request.number }}"
          body-includes: "${{ matrix.file }}"

      - name: Create or update comment
        uses: peter-evans/create-or-update-comment@v5
        with:
          comment-id: "${{ steps.find-comment.outputs.comment-id }}"
          issue-number: "${{ github.event.pull_request.number }}"
          body: "${{ steps.diff.outputs.diff }}"
          edit-mode: replace
